@use 'sass:map';

$default-font-size: 1rem;
$color-brand: #1877F2;
$color-bg: #EEF0F8;
$color-text-primary: rgba(0, 0, 0, 0.9);
$color-text-secondary: rgba(0, 0, 0, 0.6);
$color-bg-hero: #DEEBF5;

$variables: (
    default-font-size: $default-font-size,
    color-brand: $color-brand,
    color-bg: $color-bg,
    color-text-primary: $color-text-primary,
    color-text-secondary: $color-text-secondary,
    color-bg-hero: $color-bg-hero
);

:root {
    --default-font-size: #{map-get($variables, default-font-size)};
    --color-brand: #{map-get($variables, color-brand)};
    --color-bg: #{map-get($variables, color-bg)};
    --color-text-primary: #{map-get($variables, color-text-primary)};
    --color-text-secondary: #{map-get($variables, color-text-secondary)};
    --color-bg-hero: #{map-get($variables, color-bg-hero)};
}