@import './abstracts/variables'
@import './abstracts/functions'
@import './abstracts/mixins'
@import './base/fonts'
@import './components/buttons'

html
    font-size: 16px
    +scrollbar
    scroll-behavior: smooth

body
    font-family: 'GraphikArabic_Regular', sans-serif
    font-weight: normal
    font-style: normal
    +var(color, color-text-primary)
    +var(font-size, default-font-size)
    min-width: rem(380px)
    overflow-x: hidden
    overflow-y: auto

    @media (max-width: 380px)
        overflow-x: auto

*
    outline: none

    &:focus
        outline: none

::selection
    +var(background-color, color-brand)
    color: #fff

a
    &:hover
        text-decoration: none
h1,
h2,
h3,
h4,
h5,
h6
    font-weight: normal

h1,
h2,
h3
    font-family: 'GraphikArabic_SemiBold', sans-serif

h4,
h5
    font-family: 'GraphikArabic_Medium', sans-serif

h6
    font-family: 'GraphikArabic_Regular', sans-serif

header
    position: fixed
    top: 0
    display: flex
    align-items: center
    width: 100%
    height: rem(85px)
    color: #fff
    border-bottom: rem(2px) solid rgba(155, 195, 247, 0.35)
    z-index: 999
    transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out

    &.header--shrinked
        height: rem(70px)
        background-color: rgba(155, 195, 247, 0.35)
        border-color: transparent

        @supports (backdrop-filter: blur(15px))
            backdrop-filter: blur(15px)

        @supports not (backdrop-filter: blur(15px))
            background-color: #c7ddf5

.header-logo
    display: flex
    max-width: rem(155px)
    overflow: hidden
    transition: max-width 0.3s cubic-bezier(0.92, 0.06, 0.18, 1.11)

    .header--shrinked &
        max-width: rem(45px)

    svg
        width: rem(155px)
        min-width: rem(155px)
        +var(fill, color-brand)

nav
    display: flex
    gap: rem(40px)

    a
        +flex-center
        position: relative
        line-height: 1.5
        font-family: 'GraphikArabic_Medium', sans-serif
        color: rgba(0, 0, 0, 0.6)
        text-decoration: none
        transition: all 0.3s

        &::before
            content: ""
            position: absolute
            inset: rem(-3px) rem(-10px)
            border: rem(1px) solid #fff
            border-radius: rem(15px)
            z-index: -1
            pointer-events: none
            opacity: 0
            transition: all 0.3s

        &:hover
            color: rgba(0, 0, 0, 0.9)

            &::before
                opacity: 1

.language-switcher
    display: flex
    align-items: center
    gap: rem(5px)
    position: relative
    line-height: 1.5
    font-family: 'GraphikArabic_Medium', sans-serif
    color: rgba(0, 0, 0, 0.6)
    text-decoration: none
    transition: all 0.3s

    svg
        flex: 0 0 auto
        width: rem(15px)
        fill: rgba(0, 0, 0, 0.6)
        transition: all 0.3s

    &::before
        content: ""
        position: absolute
        inset: rem(-3px) rem(-10px)
        border: rem(1px) solid #fff
        border-radius: rem(15px)
        z-index: -1
        pointer-events: none
        opacity: 0
        transition: all 0.3s

    &:hover
        color: rgba(0, 0, 0, 0.9)

        svg
            fill: rgba(0, 0, 0, 0.9)

        &::before
            opacity: 1

.account-area
    display: flex
    align-items: center
    gap: rem(30px)
    margin-inline-start: auto

    .login--btn,
    .register--btn
        font-family: 'GraphikArabic_Medium', sans-serif
        +var(color, color-brand)
        text-decoration: none

        &:hover
            +var(color, color-brand)

    .login--btn
        position: relative
        line-height: 1.5
        transition: all 0.3s

        &::before
            content: ""
            position: absolute
            inset: rem(-3px) rem(-10px)
            border-radius: rem(15px)
            border: rem(1px) solid #fff
            z-index: -1
            pointer-events: none
            opacity: 0
            transition: all 0.3s

        &:hover
            &::before
                opacity: 1

    .register--btn
        border-radius: rem(10px)
        box-shadow: inset 0 0 0 rem(1px) $color-brand
        padding: rem(8px) rem(20px)
        transition: all 0.3s

        &:hover
            box-shadow: inset 0 0 0 rem(2px) $color-brand

section
    h3
        font-size: 2.25rem
        margin-bottom: rem(50px)

    h4
        margin-bottom: rem(15px)

    p
        max-width: rem(440px)
        margin-bottom: 0

        &:last-of-type
            margin-bottom: rem(30px)

.hero
    position: relative
    min-height: 100vh
    +var(background-color, color-bg-hero)
    z-index: 1
    padding: rem(85px) 0 rem(100px)

    &::before
        content: ""
        position: absolute
        inset: 0
        top: rem(85px)
        background-image: url(../images/hero-bg.svg)
        background-repeat: no-repeat
        background-position-x: right
        background-position-y: center
        background-size: 60%
        mix-blend-mode: luminosity
        z-index: -1

    &::after
        background-image: #66A9FF

.hero-data
    display: flex
    flex-direction: column

.hero-title
    margin-top: rem(180px)
    margin-bottom: rem(100px)

    h2
        font-family: 'GraphikArabic_Medium', sans-serif
        font-size: calc(1.325rem + 2.6vw)
        color: rgba(0, 0, 0, 0.9)
        margin-bottom: 0

.hero-subtitle
    position: relative
    display: flex
    align-items: center
    max-width: max-content
    padding-inline-start: rem(45px)
    padding-inline-end: rem(45px)
    padding-bottom: rem(5px)
    margin-bottom: rem(35px)

    h3
        font-family: 'GraphikArabic_Medium', sans-serif
        font-size: calc(1.325rem + 1.6vw)
        +var(color, color-brand)
        z-index: 1
        margin: 0

    svg
        &:not(.arrow)
            position: absolute
            inset-inline-start: 0
            width: 100%
            fill: rgba(255, 255, 255, 0.5)
            z-index: -1

        &.arrow
            position: absolute
            inset-inline-end: rem(-90px)
            top: calc(100% - 25px)
            fill: rgba(255, 255, 255, 0.5)
            width: rem(120px)

.hero-description
    font-size: rem(18px)
    color: rgba(0, 0, 0, 0.6)
    margin-bottom: rem(20px)

.hero-cta
    display: flex
    align-items: center
    gap: rem(30px)

    .btn
        padding-inline: 3rem

        &.google-play--btn
            padding: 0.3572rem 1.3rem

            img
                width: rem(150px)

.features
    background-image: linear-gradient(#fff, rgba(255, 251, 253, 0.95) 60%, rgba(222, 235, 245, 0.8) 100%)
    padding: rem(120px) 0

    .row:last-of-type:not(:only-child)
        margin-top: rem(150px)

.features__tabs
    display: flex
    gap: rem(25px)
    margin-bottom: rem(40px)

    a
        flex: 0 0 auto
        +flex-center
        width: rem(62px)
        height: rem(62px)
        text-decoration: none
        border: rem(3px) solid rgba(0, 0, 0, 0.12)
        border-radius: rem(10px)
        transition: border-color 0.3s

        svg
            width: rem(26px)
            fill: rgba(0, 0, 0, 0.12)
            transition: fill 0.3s

        &:hover
            border-color: rgba(0, 0, 0, 0.2)

            svg
                fill: rgba(0, 0, 0, 0.2)

        &.active
            +var(border-color, color-brand)
            transform: scale(1.3)

            svg
                +var(fill, color-brand)

.features__preview
    &.has-two-devices
        position: relative
        padding-inline-start: rem(25px)
        z-index: 998
        filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.08))
        transform: translateY(-240px)
        transition: transform 0.5s

        .mobile
            position: absolute
            inset-inline-start: 0
            inset-block-start: rem(50px)

.tablet
    width: rem(520px)
    height: rem(390px)
    background-color: #DEEBF5
    border-radius: rem(24px)
    padding: rem(16px)

.tablet__screen
    width: 100%
    height: 100%
    background-color: #fff
    border-radius: rem(6px)

    &:empty
        background-image: url(../images/logo.svg)
        background-repeat: no-repeat
        background-size: rem(80px)
        background-position: center center

.mobile
    position: relative
    width: rem(180px)
    height: rem(360px)
    background-color: #DEEBF5
    border-radius: rem(22px)
    padding: rem(11px)

    &::after
        content: ""
        position: absolute
        top: rem(11px)
        left: 50%
        width: rem(88px)
        height: rem(12px)
        background-color: #DEEBF5
        border-radius: 0 0 rem(12px) rem(12px)
        transform: translateX(-50%)

.mobile__screen
    width: 100%
    height: 100%
    background-color: #fff
    border-radius: rem(16px)

    &:empty
        background-image: url(../images/logo.svg)
        background-repeat: no-repeat
        background-size: rem(50px)
        background-position: center center

.laptop
    position: relative
    width: rem(580px)
    height: rem(380px)
    padding: 0 rem(30px) rem(15px)
    margin-top: rem(85px)

    &::before
        content: ""
        position: absolute
        inset: 0 rem(30px) rem(15px)
        background-color: #DEEBF5
        border-radius: rem(24px) rem(24px) 0 0

    &::after
        content: ""
        position: absolute
        left: 0
        right: 0
        bottom: 0
        height: rem(15px)
        background-image: url(../images/laptop-footer.svg)
        background-repeat: no-repeat

.laptop__screen
    position: absolute
    inset: rem(22px) rem(45px) rem(37px)
    background-color: #fff

    &:empty
        background-image: url(../images/logo.svg)
        background-repeat: no-repeat
        background-size: rem(80px)
        background-position: center center

.reports-count
    font-family: 'GraphikArabic_SemiBold', sans-serif
    font-size: rem(80px)
    line-height: 1.1

.download-btns
    display: flex
    gap: rem(20px)

    .download-btn
        background-color: #000
        border: rem(1px) solid #A6A6A6
        border-radius: rem(10px)
        padding: 0.5rem 1rem

        img
            height: rem(34px)

.target-clients
    padding: rem(80px) 0 0

    h3
        text-align: center
        margin-bottom: rem(30px)

.business-type
    flex: 0 0 auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: rem(15px)
    width: rem(290px)
    height: rem(290px)
    background-color: #EEEEEE
    border: rem(3px) solid #DDDEDF
    border-radius: rem(30px)
    padding: rem(15px)
    transition: all 0.3s

    .business-icon
        +flex-center
        position: relative
        width: rem(150px)
        height: rem(150px)
        z-index: 1

        &::before
            content: ""
            position: absolute
            top: rem(15px)
            width: 80%
            height: 80%
            background-color: #DEEBF5
            border-radius: 50%
            z-index: -1

        img
            width: 70%
            height: 70%
            transition: filter 0.3s

    h4
        text-align: center
        font-size: rem(26px)
        margin-bottom: 0

.swiper
    .swiper-wrapper
        align-items: center

        .swiper-slide
            // display: flex
            width: max-content !important
            padding: rem(40px) 0
            margin: 0 rem(-50px)
            transform: scale(0.6)
            transition: all 0.3s

            &:not(.swiper-slide-active)
                .business-icon
                    &::before
                        background-color: #F5F4F4

                    img
                        filter: contrast(1) sepia(100%) hue-rotate(107deg) brightness(1.4) saturate(0.28)

            &.swiper-slide-prev,
            &.swiper-slide-next
                transform: scale(0.8)
                z-index: 1

            &.swiper-slide-active
                transform: scale(1)
                z-index: 2

                .business-type
                    background-color: #fff
                    +var(border-color, color-brand)
                    box-shadow: 0 rem(2px) rem(40px) rgb(24, 119, 242, 0.2)

    .swiper-buttons
        +flex-center
        gap: rem(15px)
        margin-top: rem(20px)
        margin-bottom: rem(40px)

    .swiper-button-prev,
    .swiper-button-next
        position: static
        align-items: unset
        width: rem(100px)
        height: rem(48px)
        border-radius: rem(24px)
        padding: rem(12px) rem(16px)
        margin-top: 0
        transition: background-color 0.3s

        svg
            fill: #C3F0F7
            transition: fill 0.3s

        &:hover
            background-color: #eceff5

            svg
                +var(fill, color-brand)

        &:after,
        &:after
            display: none

    .swiper-notification
        display: none

.merchant-type,
.business-size
    overflow: hidden
    padding: rem(20px) 0
    margin: 0 0 rem(30px)

    .marquee
        display: flex
        width: 100%

        ul
            +flex-center
            gap: rem(40px)
            flex: 1 0 100%
            list-style: none
            padding: 0
            margin: 0

            li
                +flex-center
                gap: rem(10px)

                .title
                    font-family: 'GraphikArabic_Medium', sans-serif
                    font-size: rem(22px)
                    color: rgba(0, 0, 0, 0.6)

.merchant-type
    background-color: rgba(254, 236, 231, 0.2)

    .marquee
        animation: marquee-left 5s linear infinite

    .icon
        +flex-center
        width: rem(35px)
        height: rem(35px)
        background-color: #A3E6F0
        border-radius: 50%
        padding: rem(7px)

        svg
            fill: #fff

.business-size
    background-color: #DEEBF5

    .marquee
        animation: marquee-right 5s linear infinite

    .bullet
        +flex-center
        width: rem(12px)
        height: rem(12px)
        background-color: #A3E6F0
        border-radius: 50%

        &.bullet-sm
            width: rem(20px)
            height: rem(20px)

        &.bullet-md
            width: rem(28px)
            height: rem(28px)

        &.bullet-xl
            width: rem(35px)
            height: rem(35px)

@keyframes marquee-left
    0%
        transform: translateX(0px)
    100%
        transform: translateX(-100%)

@keyframes marquee-right
    0%
        transform: translateX(-100%)
    100%
        transform: translateX(0px)
