@font-face {
    font-family: 'GraphikArabic_Regular';
    src: url('../fonts/GraphikArabic-Regular.eot');
    src: local('Graphik Arabic Regular'), local('GraphikArabic-Regular'),
        url('../fonts/GraphikArabic-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikArabic-Regular.woff2') format('woff2'),
        url('../fonts/GraphikArabic-Regular.woff') format('woff'),
        url('../fonts/GraphikArabic-Regular.ttf') format('truetype'),
        url('../fonts/GraphikArabic-Regular.svg#GraphikArabic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GraphikArabic_Medium';
    src: url('../fonts/GraphikArabic-Medium.eot');
    src: local('Graphik Arabic Medium'), local('GraphikArabic-Medium'),
        url('../fonts/GraphikArabic-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikArabic-Medium.woff2') format('woff2'),
        url('../fonts/GraphikArabic-Medium.woff') format('woff'),
        url('../fonts/GraphikArabic-Medium.ttf') format('truetype'),
        url('../fonts/GraphikArabic-Medium.svg#GraphikArabic-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GraphikArabic_SemiBold';
    src: url('../fonts/GraphikArabic-SemiBold.eot');
    src: local('Graphik Arabic SemiBold'), local('GraphikArabic-SemiBold'),
        url('../fonts/GraphikArabic-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikArabic-SemiBold.woff2') format('woff2'),
        url('../fonts/GraphikArabic-SemiBold.woff') format('woff'),
        url('../fonts/GraphikArabic-SemiBold.ttf') format('truetype'),
        url('../fonts/GraphikArabic-SemiBold.svg#GraphikArabic-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}