@font-face {
    font-family: 'NotoSans_Regular';
    src: url('../fonts/NotoSans-Regular.woff2') format('woff2'),
        url('../fonts/NotoSans-Regular.woff') format('woff'),
        url('../fonts/NotoSans-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'NotoSans_Medium';
    src: url('../fonts/NotoSans-Medium.woff2') format('woff2'),
        url('../fonts/NotoSans-Medium.woff') format('woff'),
        url('../fonts/NotoSans-Medium.ttf')  format('truetype');
}
@font-face {
    font-family: 'NotoSans_SemiBold';
    src: url('../fonts/NotoSans-SemiBold.woff2') format('woff2'),
        url('../fonts/NotoSans-SemiBold.woff') format('woff'),
        url('../fonts/NotoSans-SemiBold.ttf')  format('truetype');
}
@font-face {
    font-family: 'NotoSansArabic_SemiBold';
    src: url('../fonts/NotoSansArabic-SemiBold.woff2') format('woff2'),
        url('../fonts/NotoSansArabic-SemiBold.woff') format('woff'),
        url('../fonts/NotoSansArabic-SemiBold.ttf')  format('truetype');
}
@font-face {
    font-family: 'NotoSansArabic_Medium';
    src: url('../fonts/NotoSansArabic-Medium.woff2') format('woff2'),
        url('../fonts/NotoSansArabic-Medium.woff') format('woff'),
        url('../fonts/NotoSansArabic-Medium.ttf')  format('truetype');
}
@font-face {
    font-family: 'NotoSansArabic_Regular';
    src: url('../fonts/NotoSansArabic-Regular.woff2') format('woff2'),
        url('../fonts/NotoSansArabic-Regular.woff') format('woff'),
        url('../fonts/NotoSansArabic-Regular.ttf')  format('truetype');
}